@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

.react-flow__minimap {
  @apply bg-neutral-800 fill-neutral-500;
}
.react-flow__minimap .react-flow__minimap-mask {
  @apply fill-neutral-800;
}
.react-flow__minimap .react-flow__minimap-node {
  @apply fill-neutral-700;
  stroke: none;
}
.react-flow__minimap path {
  @apply fill-neutral-700;
}

.react-flow__controls {
  @apply bg-neutral-800 rounded overflow-hidden;
}
.react-flow__controls button {
  @apply bg-neutral-800 text-white border-white/10 last-of-type:border-transparent p-2 duration-200 hover:bg-white/10 active:bg-white/20;
}
.react-flow__controls path {
  @apply fill-white;
}

.border-animate {
  background-image: linear-gradient(90deg, #3c3c3c 50%, transparent 50%), linear-gradient(90deg, #3c3c3c 50%, transparent 50%), linear-gradient(0deg, #3c3c3c 50%, transparent 50%), linear-gradient(0deg, #3c3c3c 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 15px 2px, 15px 2px, 2px 15px, 2px 15px;
  background-position: left top, right bottom, left bottom, right top;
  animation: border-dance 1s infinite linear;
}

@keyframes border-dance {
  0% {
    background-position: left top, right bottom, left bottom, right top;
  }

  100% {
    background-position: left 15px top, right 15px bottom, left bottom 15px, right top 15px;
  }
}